
<section>
  <section class="container">
    <h4>Hello, {{name}}</h4>  

    <section class="section">
      {{#if thoughts}}
      <table class="striped">
        <h5>Your Thoughts</h5>
        <thead>
          <tr>
            <th>Thought</th>
            <th>Date Added</th>
            <th>Visibility</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each thoughts}}
            <tr>
              <td>{{title}}</td>
              <td>{{formatDate createdAt "MMMM Do YYYY, h:mm:ss a"}}</td>
              <td><span class="dash-status">{{status}}</span></td>
              <td>
                <span class="btn-group">
                  <a href="thoughts/edit/{{_id}}" class="btn"><i class="fas fa-edit"></i></a>
                  <form action="/thoughts/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn red" type="submit"><i class="fas fa-trash"></i></button>
                  </form>
                </span>

              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
    <p>You have not created any shower thoughts yet.</p>
    {{/if}}

    </section>
  </section>
</section>

